.essence-ion-calendar {

	$baseColor: #666666;
	$borderBaseColor: #DDDDDD;
	$todayColor: #DD464C;
	$disableColor: #BBBBBB;

	ul, li {
		list-style: none;
		overflow: hidden;
		margin: 0;
		padding: 0;
	}

	.calendar-header {
		overflow: hidden;
		padding: 0 0 5px 0;

		& > div {
			height: 40px;
			line-height: 40px;
			border-radius: 5px;
			border: 1px solid $borderBaseColor;
		}

		.today {
			float: left;
			padding: 0 8px;
		}

		.changeDate {
			position: relative;
			float: right;

			ion-datetime {
				padding-left: 8px!important;
			}
		}
	}

	.calendar-content {
		box-shadow: 0 2px 2px 0 $disableColor;

		ul {
			border-top: 1px solid $borderBaseColor;
			li {
				position: relative;
				float: left;
				text-align: center;
				border-bottom: 1px solid $borderBaseColor;
				border-right: 1px solid $borderBaseColor;
				color: $baseColor;

				&:nth-child(7n+1) {
					border-left: 1px solid $borderBaseColor;
				}
			}
		}

		.week {

			ul {
				background-color: #e1e6ea;
				li {
					font-size: 1.4rem;
					font-weight: bold;
					color: #535353;
				}
			}
		}

		.day {
			ul {
				li {
					&.currDay {
						color: $todayColor;

						.sign {
							background-color: $todayColor;
						}
					}

					&.disable {
						color: $disableColor;

						.sign {
							background-color: $disableColor;
						}
					}

					.sign {
						display: inline-block;
						position: absolute;
						top: 50%;
						left: 50%;
						height: 0.4em;
						width: 0.4em;
						margin-top: 0.6em;
						margin-left: -0.2em;
						border-radius: 50%;
						background-color: #32DB64;
					}
				}
			}
		}
	}
}

