<div class="essence-ion-calendar">
	<div class="calendar-header">
		<div tappable class="today" (click)="backToday()">回到本月</div>
		<div tappable class="changeDate">
			<ion-datetime
				displayFormat="YYYY-MM"
				cancelText="取消"
				doneText="确定"
				[(ngModel)]="currentDate"
				(ionChange)="datetimeChange()">
			</ion-datetime>
		</div>
	</div>
	<div class="calendar-content" #calendarContent>
		<div class="week">
			<ul>
				<li *ngFor="let week of weekData;"
					[style.width]="calendarContent.offsetWidth / 7 + 'px'"
					[style.line-height]="calendarContent.offsetWidth / 7 + 'px'"
					[style.height]="calendarContent.offsetWidth / 7 + 'px'">
					<span>{{week}}</span>
				</li>
			</ul>
		</div>
		<div class="day">
			<ul>
				<li tappable *ngFor="let monthData of calendarData.monthData;"
					(click)="onViewData(monthData)"
					[ngClass]="{disable: isNotSameMonth(monthData.year, monthData.month), currDay: isCurrDay(monthData.year, monthData.month, monthData.day)}"
					[style.width]="calendarContent.offsetWidth / 7 + 'px'"
					[style.line-height]="calendarContent.offsetWidth / 7 + 'px'"
					[style.height]="calendarContent.offsetWidth / 7 + 'px'">
					<span>{{monthData.day}}</span>
					<span *ngIf="monthData.data" class="sign"></span>
				</li>
			</ul>
		</div>
	</div>
</div>
